<div class="container">
    <div class="table-wrapper">
        <div class="table-title">
            <div class="row">
                <div class="col-sm-8">
                    <h2>Users</h2>
                </div>
                <div class="col-sm-4">
                    <button type="button" class="btn btn-info add-new"><i class="bi bi-plus"></i> Add New</button>
                </div>
            </div>
        </div>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Full Name</th>
                    <th>Email</th>
                    <th>Password</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>John Doe</td>
                    <td>example@gmail.com</td>
                    <td>(171) 555-2222</td>
                    <td>
                        <a class="edit" title="" data-toggle="tooltip" data-original-title="Edit"><i
                                class="bi bi-pencil"></i></a>
                        <a class="delete" title="" data-toggle="tooltip" data-original-title="Delete"><i
                                class="bi bi-trash3"></i></a>
                    </td>
                </tr>
                <tr>
                    <td>John Doe</td>
                    <td>example@gmail.com</td>
                    <td>(171) 555-2222</td>
                    <td>
                        <a class="edit" title="" data-toggle="tooltip" data-original-title="Edit"><i
                                class="bi bi-pencil"></i></a>
                        <a class="delete" title="" data-toggle="tooltip" data-original-title="Delete"><i
                                class="bi bi-trash3"></i></a>
                    </td>
                </tr>
                <tr>
                    <td>John Doe</td>
                    <td>example@gmail.com</td>
                    <td>(171) 555-2222</td>
                    <td>
                        <a class="edit" title="" data-toggle="tooltip" data-original-title="Edit"><i
                                class="bi bi-pencil"></i></a>
                        <a class="delete" title="" data-toggle="tooltip" data-original-title="Delete"><i
                                class="bi bi-trash3"></i></a>
                    </td>
                </tr>
                <tr>
                    <td><input type="text" class="form-control" name="fullname" id="fullname"></td>
                    <td><input type="text" class="form-control" name="email" id="email"></td>
                    <td><input type="text" class="form-control" name="Password" id="password"></td>
                    <td>
                        <a class="add" title="" data-toggle="tooltip" data-original-title="Add"
                            style="display: inline;"><i class="bi bi-plus-circle-fill"></i></a>
                        <a class="delete" title="" data-toggle="tooltip" data-original-title="Delete"><i
                                class="bi bi-trash3"></i></a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>