<div class="container">
    <div class="table-wrapper">
        <div class="table-title">
            <div class="row">
                <div class="col-sm-8">
                    <h2>Products</h2>
                </div>
                <div class="col-sm-4">
                    <button (click)="addEntry()" [disabled]="newEntry || loadSpinner" type="button"
                        class="btn btn-info add-new"><i class="bi bi-plus"></i> Add New</button>
                </div>
            </div>
        </div>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Image</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngIf="newEntry" ngForm #productInfo="ngForm">
                    <td><input type="text" class="form-control" name="name" id="name" ngModel required></td>
                    <td><input type="text" class="form-control" name="price" id="price" ngModel required></td>
                    <td><input type="text" placeholder="Enter Image URL" class="form-control" name="imageURL"
                            id="imageURL" ngModel required></td>
                    <td>
                        <a class="add" title="" data-toggle="tooltip" data-original-title="Add"
                            style="display: inline;"><i (click)="addProduct()"
                                [ngClass]="productInfo.invalid ? 'disabled-cursor' : null"
                                class="bi bi-plus-circle-fill"></i></a>
                        <a class="delete" title="" data-toggle="tooltip" data-original-title="Delete"><i
                                (click)="cancelEntry()" class="bi bi-trash3"></i></a>
                    </td>
                </tr>

                <tr *ngFor="let product of products">
                    <ng-container *ngIf="editID != product['id']; else edit">
                        <td>{{product['name']}}</td>
                        <td>{{product['price']}}</td>
                        <td><img [src]="product['imageURL']" alt=""></td>
                        <td>
                            <a class="edit" title="" data-toggle="tooltip" data-original-title="Edit"><i
                                    (click)="onEdit(product['id']!)" class="bi bi-pencil"></i></a>
                            <a class="delete" title="" data-toggle="tooltip" data-original-title="Delete"><i
                                    (click)="onDelete(product['id']!)" class="bi bi-trash3"></i></a>
                        </td>
                    </ng-container>

                    <ng-template ngForm #editedProduct="ngForm" #edit>
                        <td><input type="text" class="form-control" name="productName" id="productName"
                                [ngModel]="product['name']" required></td>
                        <td><input type="text" class="form-control" name="productPrice" id="productPrice"
                                [ngModel]="product['price']" required></td>
                        <td><input type="text" placeholder="Enter Image URL" class="form-control" name="productImageURL"
                                id="productImageURL" [ngModel]="product['imageURL']" required></td>
                        <td>
                            <a class="add" title="" data-toggle="tooltip" data-original-title="Add"
                                style="display: inline;"><i (click)="onUpdate(editedProduct)"
                                    [ngClass]="editedProduct.invalid ? 'disabled-cursor' : null"
                                    class="bi bi-check-circle-fill"></i></a>
                            <a class="delete" title="" data-toggle="tooltip" data-original-title="Delete"><i
                                    (click)="cancelEntry()" class="bi bi-x-circle-fill"></i></a>
                        </td>
                    </ng-template>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="loadSpinner" class="d-flex justify-content-center text-primary mt-5">
        <div class="spinner-border" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
</div>